<h1>This is a private Page</h1>

<div style="width:480px"><iframe
    allow="fullscreen"
    frameBorder="0"
    height="270"
    src="https://giphy.com/embed/ebqybLUTxPTCjcaTiz/video"
    width="480"
  ></iframe></div>